.content {
  height: 250px;
  width: 100%;
}

.main {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow-x: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
